body {
margin-top:10px;
background-color:#CCCCCC;
}
.wrapper{

}

.top{
margin-top:20px;
}
.home{
font-size:15px;
}
.text-align{
text-align:justify;
}
.right{
float:right;
}

.background-white{
background-color:#FFFFFF;
}
.background-black{
padding-top:20px;
background-color:#000000;
color:#FFFFFF;
}
